.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-social-item-elm1 {
  text-decoration: none;
}
 
.footer-thq-footer-social-item-elm2 {
  text-decoration: none;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
